.carregando {
    color: #fff;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    max-width: 1300px;
    position: relative;
}
.carregando p {
    margin-top: 50px;
}
.logoCarregando {
    position: absolute;
    left: 5px;
    top: 5px;
    max-width: 20%;
}
